<h1>Listing forums</h1>



<% @forums.each do |forum| %>

    <p><%= forum.name %>
    <%= forum.topics.count %> topics
    <%= forum.description %></p></br>
    <p><%= link_to 'Show', forum %>
    <%= link_to 'Edit', edit_forum_path(forum) %>
    <%= link_to 'Destroy', forum, method: :delete, data: { confirm: 'Are you sure?' } %></p>

    <p><%= link_to 'forumtopics',forumtopics_topic_path(forum)  %></p>

<% end %>


<br />

<%= link_to 'New Forum', new_forum_path %>
