<div class='tags'>
 <% tag_cloud Topic.tag_counts, %[s,m,l]  do |tag, css_class| %>
 <%= link_to tag.name, tag_path(tag.name), class: css_class %>
 <% end %>
</div>

<div>

<p>topic title</p><%= @topics.topic_name %></br>
<%= @topics.topic_content %>
<p>Tags:&nbsp<%= raw @topics.tag_list.map {|t| link_to t, tag_path(t)}.join(', ') %></p>
</p>
</div>
<div>
<% @comments.each do |comment| %>
<%= comment.username %>
<%= comment.comment %>
<% end %>
</div>

<div>

</div>
