
<div id="tag">
<h3 id="heading">tags</h3>
<div class='tags'>
 <% tag_cloud Topic.tag_counts, %[s,m,l]  do |tag, css_class| %>
 <%= link_to tag.name, tag_path(tag.name), class: css_class %><br>
 <% end %>
 <% tag_cloud Comment.tag_counts, %[s,m,l]  do |tag, css_class| %>
 <%= link_to tag.name, tag_path(tag.name), class: css_class %></br>
 <% end %>
</div>
</div>


<h3>Topic</h3>
<div>

<p>topic title: <%= @topics.topic_name %></p>
--------------------------------------------------------------------------------<br>
<%= @topics.topic_content %><br>
--------------------------------------------------------------------------------
<p>Tags:&nbsp<%= raw @topics.tag_list.map {|t| link_to t, tag_path(t)}.join(', ') %></p>
</div>
<h3 id="heading">Comments</h3>

<% @comments.each do |comment| %>
<div class="comment">
<p>by: <%= comment.useremail %></p>
<div><%= comment.comment %></div>
<p>Tags:&nbsp<%= raw comment.tag_list.map {|t| link_to t, tag_path(t)}.join(', ') %></p>
</div>
<% end %>





<h3>post comment</h3>
<div>

  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for(@comment, :remote => true) do |f| %>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :useremail, :value => current_user.email  %>
  </div>
  <div class="field">
    <%= f.label :topic_name %><br />
    <%= f.collection_select :topic_id, Topic.all, :id, :topic_name, :value => @topics.topic_name %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment, :rows => 12 %>
  </div>
  <div class="field">
    <%= f.label :tag_list, "Tags" %><br />
    <%= f.text_field :tag_list %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
</div>


